* {
    margin: 0;
    padding: 0;
}

body {
    transition: all 0.3s ease-in-out;
}

body.dark-mode {
    background-color: #07230b;
    color: #fff;
}

body.light-mode {
    background-color: #fff;
    color: #000;
}

button {
    display: inline-block;
    width: calc(16.66% - 20px);
    height: 50px;
    border-radius: 10px;
    background-color: #3c3c3c;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

.dark-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #80c386;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
}

button:last-child {
    margin-right: 0;
}
